.container {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 22px;
    background-color: aliceblue;
    margin: auto;
    max-width: 80%;
    border-radius: 10px;
    border: 2px solid black;
}

body {
    background-color: bisque;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    border: 1px solid black;
    border-radius: 5px;
}

#increment-btn {
    background-color: greenyellow;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} 

#save-btn {
    background-color: lightcoral;
}